[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = ">=2.8.4"
django-extensions = "*"
django-datetimepicker = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-braces = "*"
pyls = "*"

[requires]
python_version = "3.8"
