<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My diary-test page</title>
  </head>
  <body>
    <p>This is my diary.</p>
    {% if entries_list %}
        <ul>
        {% for entry in entries_list %}
            <li><a href="entry/{{entry.id}}/delete">Delete this entry. {{ entry.description_text }} </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No entries are available.</p>
    {% endif %}
    <a href="/diaries/{{ diary.id }}/entry-create"> Create a new entry.</a>
  </body>
</html>
